<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promise generator</title>
    <link rel="stylesheet" href="/src/css/promises.css">
  </head>
  <body>
    <p><a href="/src/partials/example.html">Go back</a></p>

    <form class="form">
      <label>
        First delay (ms)
        <input class="inpt" type="number" name="delay" required />
      </label>
      <label>
        Delay step (ms)
        <input class="inpt" type="number" name="step" required />
      </label>
      <label>
        Amount
        <input class="inpt" type="number" name="amount" required />
      </label>
      <button class="inpt" type="submit">Create promises</button>
    </form>

    <script src="/src/js/promises.js" type="module"></script>
  </body>
</html>